h1 {color: rgb(253, 253, 253); 
    text-align: left; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
    background-color: rgba(0, 0, 0, 0.417);
}

h2,h3 {color: #ffffff;
    text-align: center;
    background-color: #ff0000;
}

h4 {color: rgb(253, 253, 253); 
    text-align: left; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    background-color: rgba(0, 0, 0, 0.417);
}

h5 {color: rgb(255, 255, 255); 
    text-align:center; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    background-color: rgba(255, 0, 0, 0.816);
    font-size: x-large;
}

body {background-color: #000000; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url(https://www.nme.com/wp-content/uploads/2022/10/Central-Cee-by-Jimmy-Fontaine-1392x884.jpg);
    background-repeat: no-repeat; 
    background-size: cover;
background-position: center;}

nav ul {list-style: none;
text-align: center; padding: 0;
margin: 0;
background-color: rgb(0, 0, 0);
align-content: center;
}



nav li {font-size: 0.7em;
line-height: 20px;
height: 20px;
display: inline-block;
margin: 2.5%;
}

nav a {text-decoration: none; color: #ffffff;
display:block;font-size: 1.5rem}


input {background-color:rgb(255, 255, 255);; color: rgb(0, 0, 0);}

table {text-align: center;
text-transform: capitalize;
font-size: x-large;
border: 1px solid;}

footer {background-color: #000000;
	padding: 0;
	text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
	z-index: 3;
}

footer > a {
	color: #ffffff;
	text-decoration: none;
	padding: 0;
    margin-bottom: auto;
	font-size: 1rem;
    display: inline-block
}

footer > p { color: rgb(255, 255, 255); 
    font-weight: bold; 
    font-size: 1rem;

}

footer > span {color: rgb(255, 255, 255); 
    font-weight: bold; 
    font-size: 1rem;
}

.text-uppercase {text-transform: uppercase;}

#tour-dates {background-color: #ffffff6a;
    color: black;
    position: relative;
	z-index: -1;}

.center {margin-left: auto;
    margin-right: auto;
  }

section {background-color: #ffffff;
    display: inline-block;
    width: 750px;
    height: 300px;
    padding: 5px;
    border: 1px solid rgb(0, 0, 0);
    }

#cench1 {float: right;
    width: 35%;
    height: 50%;
    padding: 80px;}

#cench2 {float: left;
        width: 35%;
        height: 50%;
        padding: 60px;}