h1 {color: rgb(2, 158, 249); text-align: center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

h2 {color: #ac117b;}

body {background-color: #e4ecee; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

nav ul {list-style: none;
text-align: center; padding: 0;
margin: 0;
background-color: #d5d9dc;}


nav li {font-size: 1.2em;
line-height: 40px;
height: 40px;
display: inline-block;
margin: 2.5%;}

nav a {text-decoration: none; color: #ac117b;
display:block;}

.cench1 {float: left;
    width: 35%;
    height: 50%;
    padding: 5px;}

input {background-color:rgb(2, 158, 249);; color: white;}